<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <!-- nav -->
    <%- include('../partials/nav.ejs') %> 
    <main class="content">
        <!-- hero -->
        <div class="container py-5 py-lg-6">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="display-3 mb-4 text-light py-3">Create a recipe</h1>
                    <hr class="border-3 border-white my-4 ml-0 text-left w-25">
                    <div class="row">
                        <div class="col-lg-8 mb-4">
                            <p class="lead text-secondary">Share a recipe with the club by compeleting the form below</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-md">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form class="text-light" action="/recipes" method="POST">
                        <div class="form-group">
                            <label for="title">Recipe title</label>
                            <input type="text" class="form-control" name="title" id="title" aria-describedby="recipeTitle" required>
                        </div>
                        <div class="form-group">
                            <label for="author">Author</label>
                            <input type="text" name="author" class="form-control" id="author" required">
                        </div>
                        <div class="form-group">
                            <label for="snippet">Snippet</label>
                            <input type="text" name="snippet" class="form-control" id="snippet" required>
                            <small id="snippetHelp" class="form-text text-muted">A brief, one line description of the recipe</small>
                        </div>
                        <div class="form-group">
                            <label for="ingredients">Ingredients</label>
                            <textarea class="form-control" name="ingredients" id="ingredients" cols="30" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="directions">Recipe directions</label>
                            <textarea class="form-control" name="directions" id="directions" cols="30" rows="2"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" name="category" required>
                              <option value="baking">Baking</option>
                              <option value="main">Main</option>
                              <option value="snack">Snack</option>
                              <option value="beverage">Beverage</option>
                              <option value="other">Other</option>
                            </select>
                          </div>
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <input type="number" name="rating" class="form-control" id="rating" min="0" max="5" required>
                          </div>
                        <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
                    </form>    
                </div>
            </div>
        </div>

    </main>
    


    <%- include('../partials/footer.ejs') %>
</body>
</html>